.brand {
  width: ($header-brand-width)+px;
  height: ($header-height - 20)+px;
  display: block;
  margin: 10px;
}

.appContent {
  margin: ($header-height)+px 0; // for fixed navbar
  background: $grey-light;
}
