.panel {
  &_heading {
    position: relative;
    border-radius: 0;
    text-transform: uppercase;
    border-bottom: 1px solid $grey-line;
    &_action_btn {
      &_icon {
        margin-right: 3px;
      }
      position: absolute;
      right: 5px;
      top: 5px;
      font-size: 11px;
      font-weight: bold;
      text-transform: none;
      padding: 4px;
      cursor: pointer;
    }
  }

  &_title {
    font-size: 10px;
  }
}
